.gen-button { 
    border: none;
    height: 60px;
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    font-family:"Oswald";
    text-align: left;
    padding-left: 20px;
    transition: background-color 0.30s;
}

.gen-button:hover { /* fix this stuff */
    background-color: rgb(15, 12, 12);
}