.LFCretail-container { 
    background-color: white;
    width: 100%;
    padding: 80px 80px 100px 80px;
}

.LFCretail-item-container { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    row-gap: 20px;
}

.LFCretail-header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    list-style: none;
}

.LFCretail-header > div {
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}

.LFCretail-header > div:not(.selected):hover {
    color: rgb(72, 72, 72);
}

.LFCretail-header .selected { 
    color: black;
    border-bottom: 1px solid red;
}

.LFCretail-grid { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}


@media (max-width: 900px) { 
    .LFCretail-container { 
        padding: 20px 0px 100px 0px;
    }

    .LFCretail-grid {
        flex-wrap: wrap;
    }
}