.switch {
  width: 30px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-on {
  background-color: #F87DA9;
}

.switch-off {
  background-color: #e3e3e3;
}

.switch-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.handle-on {
  left: 15px;
  background-color: #DC0714;
}

.handle-off {
  left: -5px;
  background-color: #9e9e9e;
}
