.headLine-component-container-red { 
    padding: 15px 15px 0px 15px;
    transition: background-color 0.30s;
}

.headLine-component-container-white { 
    padding: 15px 15px 0px 15px;
    transition: background-color 0.30s;
}

.headLine-component-container-white:hover ,
.headLine-component-container-horizontal:hover { 
    background-color: rgb(240, 240, 240);
}

.headLine-component-container-red:hover { 
    background-color: #cd0210;
}

.headLine-component-container-horizontal { 
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headLine-container { 
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: 100%;
    justify-content: space-between;
}

.headLine-container-horizontal {
    display: flex;
    direction: ltr;
    height: fit-content;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.headLine-container-horizontal .headLine-img { 
    width: 150px;
    margin-bottom: 0px;
}

.headLine-img { 
    width: 100%;
    aspect-ratio: 13/7;
    object-fit: cover;
    margin-bottom: 40px;
}

.headLine-time { 
    color: rgb(182, 172, 172);
    font-size: 12px;
    padding-bottom: 5px;
}

.headLine-text { 
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
}

.stand { 
    width: 100%;
    border-bottom: 1px solid rgb(149, 149, 149);
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
    margin-top: 20px;
}

@media (max-width: 775px) { 
    .headLine-component-container { 
        height: 550px;
    }
}