nav {
   width: 100%;
   padding: 20px 110px;
   background-color: #DC0714;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 100;
}

.align-divs { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { 
    height: 110px;
    width: auto;
}

.icon { 
    height: 20px;
    width: auto;
}

.standardChartered { 
    height: 40px;
    width: auto;
}

.LFC-logo { 
    font-size: 36px;
    font-family: ariel;
    font-weight: 800;
    color: white;
    text-decoration:none;
    padding: 20px;
}

.menu-icon { 
    height: 30px;
    cursor: pointer;
}

.nav-options { 
    width: 1000px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.dropdown-container { 
    position: relative;
}

.show-on-mobile { 
    display: none;
}

@media (max-width: 775px) { 
    nav { 
        padding: 20px 20px !important;
    }
}

@media (max-width: 1200px) { 
    .hide-on-mobile { 
        display: none;
    }

    .show-on-mobile { 
        display: block;
    }

    nav { 
        height: 60px;
    }
}
