.small-ad { 
    background-color: #f6f6f6;
    width: 100%;
    height: 210px;
    margin-bottom: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-ad { 
    background-color: #f6f6f6;
    padding: 0px 150px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    overflow: hidden;
}

.big-ad > img:first-child { 
    width: 75%;
}

.big-ad > img:nth-child(2) { 
    width: 25%;
}

@media (max-width: 775px) { 
    .small-ad { 
        height: 110px;
    }
}

@media (max-width: 1350px) { 
    .big-ad { 
        flex-wrap: wrap;
        height: 700px;
    }

    .big-ad > img:first-child { 
        width: 1000px;
    }

    .big-ad > img:nth-child(2) { 
        width: 330px;
    }
}